@use "../../../scss/vars";

.todoList {
	margin-bottom: 100px;
}

.todoList__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	@media(max-width: 450px) {
		flex-direction: column;
		gap: 16px;
		align-items: center;
	}
}

.todoList__info {
	display: flex;
	align-items: center;
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	column-gap: 8px;
	color: vars.$primary;
	font-size: 16px;
	font-weight: 700;
	line-height: 17px;
	&_secondary {
		color: vars.$secondary;
	}
	&_label {
		background-color: #333;
		padding: 3px 11px;
		font-size: 14px;
		line-height: 15px;
		color: #D9D9D9;
		border-radius: 20px;
	}

}

.todoList__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.todoList__empty {
	user-select: none;
	padding: 64px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	line-height: 22px;
	img {
		margin-bottom: 16px;
	}
	color: #808080;
	text-align: center;
}

.todoList__btn {
	display: block;
	align-items: center;
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	column-gap: 8px;
	line-height: 20px;

	padding: 16px;
	border-radius: 8px;
	background-color: vars.$primary-dark;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: vars.$primary;
	}
}