@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter_Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter_Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter_Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}